.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background: #89af82; 
 
 
  color: yellow;
  font-family: "Roboto", sans-serif;
}

input {
  background: border-box;
  color: yellowgreen;
  border-top: none;
  width: 200px;
  padding: 5px;
}

button {
  background: content-box;
  color: yellow;
  border: none;
}
